.movies {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 10px 0;
  scroll-behavior: smooth;
}

h3 {
  margin-top: 1rem;
  color: white;
}

.movies::-webkit-scrollbar {
  display: none;
}

.movies__image {
  object-fit: contain;
  max-width: 300px;
  margin-right: 0.8rem;
  transition: transform 0.3s ease-in;
}

.movies__image:hover {
  transform: scale(1.08);
}

.movies__largeposter {
  max-height: 300px;
}
